.padding-top {
    padding-top: 25px;
}

.border-top {
    border-top: green 1px solid;
}

.top-buffer {
    margin-top: 10px;
}

.chats-list {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #b6b6b6;
}

.chat-list-in-box > .item {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 0;
}

.chats-list > .item {
    cursor: pointer;
    position: relative;
    padding: 12px 0;
    background: transparent;
    padding-left: 10px;
}

.chats-list .chat-img {
    float: left;
}

.chats-list .chat-img img {
    width: 44px;
    height: 44px;
}

.direct-chat-img {
    border-radius: 50%;
    float: left;
    width: 40px;
    height: 40px;
}

.chats-list .chat-info {
    margin-left: 55px;
    /*margin-right: 90px;*/
}
.direct-chat-timestamp{
    font-size: 11px;
    color: #90949c;
}

.chats-list .chat-title {
    color: #727272;
    /*margin-top: 7px;*/
    margin-bottom: 0;
}

.direct-chat-name {
    font-weight: 600;
}
.page-content {
    padding-top: 0!important;
}
.chats-list .chat-description {
    display: block;
    color: #999;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.chats-list .conversation-info {
    width: 80px;
    display: block;
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 12px;
    padding: 17px 0;
    text-overflow: ellipsis;
    text-align: right;
}

.chats-list .conversation-info span, .chats-list .conversation-info a {
    width: 100%;
    display: block;
}

.mes-ac-2 {
    color: #2bc5f8;
}

.box {
    /*margin-top: 20px;*/
    position: relative;
    padding: 0;
    /*border-radius: 3px;*/
    background: #ffffff;
    /*border: 1px solid #dfdfdf;*/
    /*margin-bottom: 20px;*/
    /*width: 100%;*/
    /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);*/
    /*padding: 10px;*/
}

.box-header {
    display: block;
    padding: 5px;
    position: relative;
    margin-bottom: 10px;
}

.box-header.with-border {
    border-bottom: 1px solid #dfdfdf;
}

.box-header .user-name-w {
    color: #ff5722;
}

.box-header > .fa, .box-header > .glyphicon, .box-header > .ion, .box-header .box-title {
    color: #2bc5f8;
    display: inline-block;
    font-weight: normal;
    font-size: 15px;
    margin: 0 10px 0;
    line-height: 1;
}

.direct-chat .box-body {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    overflow-x: hidden;
    padding: 0;
}

.text {
    color: #727272;
    padding: 0 10px;
    height: 55px;
    overflow: hidden;
}

#total {
    padding-bottom: 10px;
}

/*.slimScrollDiv {*/
    /*position: relative;*/
    /*overflow: hidden;*/
    /*width: auto;*/
    /*height: 300px;*/
/*}*/

.direct-chat-messages, .direct-chat-contacts {
    /*overflow: hidden;*/
    /*width: auto;*/
    /*height: 350px;*/
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    -moz-transition: -moz-transform 0.5s ease-in-out;
    -o-transition: -o-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transform: translate(0, 0);
    padding: 10px;
}

.conversation-timestamp {
    width: 100%;
    text-align: center;
}

.conversation-timestamp .direct-chat-timestamp {
    color: #ff5722 !important;
    font-size: 13px !important;
    margin: 0;
    display: block;
}

.direct-chat-text-w {
    width: 100%;
    float: left;
}

.direct-chat-text {
    border-radius: 3px;
    position: relative;
    display: inline-block;
    width: auto;
    max-width: 80%;
    padding: 6px 12px;
    margin: 0px 0 0 50px;
    background: #C7EDFC;
    border: 1px solid #C7EDFC;
    color: #2b2b30;
    float: left;
    line-height: 14px;
}

.direct-chat-msg {
    margin-bottom: 10px;
}

.direct-chat-msg {
    display: block;
    position: relative;
    margin: 0px;
    padding-top: 10px;
}

.direct-chat-msg .direct-chat-img {
    position: absolute;
    top: 0;
    left: 0;
}

.direct-chat-text p {
    margin: 0;
    line-height: 24px;
}
.img-chat{
    position: absolute;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, .10);
    border-radius: 4px;
    margin: 5px;
}

/*.direct-chat-text:after, .direct-chat-text:before {*/
    /*width: 16px;*/
    /*height: 10px;*/
    /*background-color: #2bc5f8;*/
    /*transform: skew(40deg);*/
    /*position: absolute;*/
    /*right: 100%;*/
    /*top: -1px;*/
    /*z-index: 0;*/
    /*margin-right: -12px;*/
    /*content: '';*/
/*}*/

.direct-chat-info {
    float: left;
    display: block;
    margin-bottom: 2px;
    font-size: 12px;
    width: 100%;
}

.direct-chat .direct-chat-timestamp {
    color: #999;
    margin-left: 50px;
    display: block;
    font-size: 11px;
}

.type-mes-textarea {
    width: 100%;
    resize: none;
    height: 50px;
    padding: 15px 5px 5px 50px;
    border-left: 0;
    border-right: 0;
    border-color: #ebebeb;
}
.type-mes{
    position: relative;
}

textarea:focus, textarea:hover {
    border-color: #ebebeb;
}


.type-mes-tool ul {
    position: relative;
}

.navbar-nav {
    float: left;
    margin: 0;
}
#upload_photo_local{
    font-size: 25px;
    position: absolute;
    top: 7px;
    right: 10px;
    cursor: pointer;
}

.type-mes-tool li a {
    font-size: 12px;
    padding: 10px;
    margin-right: 10px;
    color: #b6b6b6;
}
.delete-comment:hover{
    cursor: pointer;
    margin-bottom: -3px;
    color: #365899;
    font-size: 12px;
}
.send-btn {
    width: 55px;
    margin-top: 8px;
}

.btn:hover, .btn-default:hover, .open .btn.dropdown-toggle, .open .btn-default.dropdown-toggle{
    border: 1px solid transparent;
}

.btn-lime {
    color: #fff;
    background-color: #ff5722 !important;
    border-color: #ee3900;
}

.btn-lime:hover, .btn-lime:active, .btn-lime:focus {
    color: #fff !important;
    background-color: #ee3900 !important;
}

.widget-user .widget-user-header {
    padding: 10px 0;
    height: 120px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.bg-aqua-active, .modal-info .modal-header, .modal-info .modal-footer {
    background-color: #2bc5f8;
}

.widget-user .widget-user-image {
    width: 70px;
    height: 70px;
    margin: auto;
}

.widget-user .widget-user-image a {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.widget-user .widget-user-image img {
    width: 100%;
    height: 100%;
}

.user-name-block {
    position: relative;
}

.widget-user .widget-user-username {
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin: 0;
    padding: 10px 0;
}
.modal-dialog{
    left: 0;
}
.modal-header{
    padding: 10px 15px;
}
.modal .modal-title {
    color: #2bc5f8;
    margin: 0;
}
.modal-header .close {
    margin-top: -2px;
}
button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.2;
    filter: alpha(opacity=20);
}
.modal-header .close{
    font-size: 18px;
}
.show-list-fanpage {
    width: 100%;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-bottom: 0;
    border-top: 0;
    padding: 10px;
    vertical-align: middle;
}
.show-list-fanpage .avatar-image-store img {
    width: 50px;
    height: 50px;
}
.avatar-image-td {
    width: 50px;
    height: 50px;
    padding: 0!important;
}
.avatar-text-store {
    color: #727272;
    font-weight: bold;
}
.avatar-text-store i {
    margin-left: 5px;
    color: #b6b6b6;
    font-size: 12px;
}
.select-fanpage{
    position: absolute;
    right: 30px;
    top: -45px;
}
button.select-fanpage:active {
    right: 30px;
    top: -45px;
}
.avatar-text-store:hover {
    text-decoration: none;
}

.show-list-fanpage tr:hover {
    background-color: #f0f1f3;
}
.displayed {
    margin: 0;
    position: absolute;
    top: 50%;
    right: 40%;
}
#please_select_inbox {
    position: relative;
    height: 500px;
}
.chats-list .item-active {
    background-color: #F3F3F3!important;
    border: none;
}
.right .direct-chat-text {
    float: right;
    margin-right: 50px;
    margin-left: 0;
    background: #ebebeb;
    border: #ebebeb;
    color: #212121;
}
.right .direct-chat-img {
    float: right;
}
.direct-chat-msg .direct-chat-img {
    position: absolute;
    top: 10px;
    left: 0;
}
.right .direct-chat-img {
    left: auto;
    right: 0;
}
.right .direct-chat-text:after, .right .direct-chat-text:before {
    right: auto;
    left: 100%;
    transform: skew(-40deg);
    margin-left: -12px;
    background-color: #ebebeb;
    top: 0;
}
.direct-chat .right .direct-chat-timestamp {
    margin-right: 50px;
    text-align: right;
}
.direct-chat-msg:before, .direct-chat-msg:after {
    content: " ";
    display: table;
}

#fanpage .tab-content{
    border:none;
    height: 490px;
    padding: 0;
}
/*.page-content{*/
    /*padding: 0 10px 5px;*/
/*}*/
#fanpage .tabbable{
    /*margin-top: 10px;*/
    border-bottom: 1px solid #ddd;
    /*border-top: 0;*/
}
#fanpage .nav-tabs{
    border: none;
}
#fanpage .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    border:none;
    box-shadow: none;
}
#fanpage .nav-tabs > li > a, .nav-tabs > li > a:focus{
    border:none;
}
.border-right{
    border-right: 1px solid #ccc;
}
.border-left{
    border-left: 1px solid #ccc;
    padding-top: 10px;
}

/*.scroll > div {*/
    /*max-height: 250px;*/
    /*overflow: auto;*/
/*}*/
.scroll .inner-content {
    border: 1px solid #CCC;
    max-height: 300px;
}
.loader {
    position: absolute;
    height: 80px;
    width: 80px;
    border-radius: 80px;
    background-image: url(images/loading.svg);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    z-index: 1000;
    margin: -40px -40px 0;
}

#card{
    height: 546px;
}
#card .form-control{
    height: 30px;
    font-size: 13px;
    line-height: normal;
    padding-bottom: 0;
    padding-top: 0;
    border-color: #e3e3e3;
    border-radius: 3px!important;
}
#card .form-group textarea{
    height: auto;
}
body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom{
    margin-right: 0;
}

.file-preview-image {
    width: 100%;
}

.btn-group > .btn > .caret {
    margin-top: 0;
    margin-left: 1px;
    border-width: 0;
    border-top-color: #FFF;
}

#fanpage{
    /*margin-top: -5px;*/
    padding: 0;
    margin: 0 -20px;
}
.summary-order{
    position: relative;
    /*bottom: -50px;*/
    height: 100px;
    border-top: 1px solid #ccc;
    padding-top: 5px;
}
.right .btn-inbox, .right .btn-inbox:hover, .right .btn-inbox:focus, .left .btn-inbox, .left .btn-inbox:hover, .left .btn-inbox:focus{
    border: none!important;
    background-color: #EBEBEB!important;
    font-size: 12px!important;
    padding: 0!important;
    color: #365899!important;
    outline: none!important;
}
.modal-backdrop {
    z-index: -1;
}

.border-bottom {
    border-bottom: 1px solid #ebeef0!important;
}
.p-xs {
    padding: 10px;
}
.send-private-message-user {
    background: #e4e2e2;
    border: 1px solid #ccc;
    padding: 3px;
    font-size: 12px;
    border-radius: 3px;
}
#modal-inbox{
    height: 300px;
}
#modal-inbox .modal-body{
    padding: 0;
}
#modal-inbox textarea.form-control {
    padding: 5px 12px;
    min-height: 32px;
}
#modal-inbox textarea.form-control {
    height: auto;
}
#modal-inbox .border-none {
    border: none!important;
    box-shadow: none;
}
#modal-inbox .modal-dialog{
    margin-top: 0;
    padding-top: 0;
}
#modal-inbox .modal-footer{
    margin-top: 0;
    background-color: #fff;
}
#modal-inbox .btn{
    border-radius: 3px;
}
.left .option-comment .btn-inbox{
    background: none!important;
    font-size: 12px!important;
    color: #2b2b30!important;
}
.option-comment .delete-comment{
    font-size: 12px;
    color: #2b2b30;
}
body.modal-open {
    padding-right: 0!important;
}
.page-checkbox{
    width: 5%;
    height: 80%;
}
.conversation-tags {
    display: inline-block;
}
#fbTags{
    display: inline-block;
    width: calc(100% - 121px);
    overflow: hidden;
    height: 100%;
}
#fbTags li{
    line-height: 16px;
    margin-bottom: 2px;
    list-style-type: none;
    float: left;
}
#fbTags .tag-color-1 {
    background-color: #de6262;
    color: #feffff;
}
#fbTags .item {
    border: none;
}
#fbTags ul li span {
    margin: 0 2px 0 0;
}
#fbTags .item {
     position: relative;
     display: block;
     margin: 0 5px 5px 0;
     padding: 2px 7px;
     border: 1px solid #cbdbee;
     background: #e9f3ff;
     color: #647f9e;
     border-radius: 2px;
     -webkit-user-select: none;
     -moz-user-select: none;
     -o-user-select: none;
     -ms-user-select: none;
     user-select: none;
     cursor: pointer;
     font-weight: 600;
 }
#fbTags ul{
    margin: 0;
}
.conversation-tags .btn{
    float: none;
    vertical-align: top;
    border-radius: 3px;
    padding: 1px 5px;
    line-height: 1.5;
    font-size: 12px;
    color: #fff;
}
.select2-search__field{
    width: 100%!important;
}


.border-form {
    border-radius: 4px !important;
}
.margin-button{
    margin-bottom: 5px;
}

.line-icon {
    line-height: 35px;
    cursor: pointer;
}
.font-heading{
    font-size: 15px;
    font-weight: bold;
}
.list-search-data>ul{
    margin: 0;
}
.list-search-data>ul>li {
    margin: 0;
    padding: 10px 13px;
    cursor: pointer;
}
.list-search-data .wrap-img{
    min-height: 32px;
    min-width: 32px;
    height: 30px;
    width: 30px;
    margin-top: 2px;
}
.list-search-data .wrap-img img {
    min-height: 30px;
    height: 30px;
    width: 30px;
}
img.thumb-image {
    max-width: 50px;
    max-height: 50px;
    margin: 0 auto;
    border-radius: 0;
}
.ml10 {
    margin-left: 10px!important;
}
.list-search-data>ul>li ul {
    padding-left: 40px;
}
.list-search-data>ul>li ul li {
    padding: 7px 10px;
}
.color_green {
    color: #75a630;
}
.pull-left {
    float: left!important;
}
.pull-right {
    float: right!important;
}
.list-search-data li {
    list-style-type: none;
    line-height: 20px;
}
.panel-default {
    position: absolute;
    top: 35px;
    left: 0;
    -moz-transform: translateY(0) scale(0);
    -ms-transform: translateY(0) scale(0);
    -o-transform: translateY(0) scale(0);
    -webkit-transform: translateY(0) scale(0);
    transform: translateY(0) scale(0);
    max-width: 100%;
    margin-top: 5px;
    background-color: rgba(255, 255, 255, .98);
    border-radius: 3px;
    opacity: 0;
    -webkit-transition: -webkit-transform .3s ease, opacity .3s ease;
    -moz-transition: all .3s ease, opacity .3s ease;
    -o-transition: all .3s ease, opacity .3s ease;
    transition: all .3s ease, opacity .3s ease;
    width: 100%;
    -moz-transform-origin: 50% -20px;
    -ms-transform-origin: 50% -20px;
    -o-transform-origin: 50% -20px;
    -webkit-transform-origin: 50% -20px;
    transform-origin: 50% -20px;
}
.panel-default {
    border: solid 1px #dee5eb;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    /*border: 1px solid transparent;*/
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-default.active {
    -webkit-transform: translateY(0) scale(1);
    -moz-transform: translateY(0) scale(1);
    -ms-transform: translateY(0) scale(1);
    -o-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
    opacity: 1;
    z-index: 1;
}
.panel-default.active:after {
    position: absolute;
    left: 0;
    right: 0;
    top: -6px;
    margin: auto;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    content: '';
    width: 3px;
}
.panel-default.active:before {
    position: absolute;
    top: -7px;
    left: 0;
    right: 0;
    margin: auto;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #f3faff;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(175,166,166,.2);
    content: '';
    width: 3px;
}
.border-top{
    border-top: 1px solid #ebeef0;
}
#show_card{
    min-height: 180px;
}
.table-normal tr:first-child td, .table-normal.table-none-border td {
    border: 0;
}
.table-normal td {
    border-top: 1px solid #ececec;
    padding-top: 5px;
    padding-bottom: 5px;
}
.min-width-45-px {
    min-width: 45px;
}
.width-45-px {
    width: 45px;
}
.wrap-img {
    max-width: 52px;
    max-height: 50px;
    height: 50px;
    width: 52px;
    text-align: center;
    border: 1px solid #e8edf0;
    border-radius: 4px;
    display: table-cell;
    vertical-align: middle;
    background: #fafbfc;
}
img.thumb-image {
    max-width: 50px;
    max-height: 50px;
    margin: 0 auto;
    border-radius: 0;
}
li {
    list-style-type: none;
    line-height: 20px;
}
.text-underline, .hover-underline:hover, .text-underline:hover {
    text-decoration: underline;
}
.pre-line {
    white-space: pre-line;
}
.vertical-align-m-i {
    vertical-align: middle!important;
}
.inline_block {
    display: inline-block;
}
.p-r5 {
    padding-right: 5px!important;
}
.pl5 {
     padding-left: 5px!important;
 }
#show_card input.form-control[type=number] {
    width: 40px;
    font-size: 12px!important;
}
#show_card {
    font-size: 12px!important;
}
#show_card ul{
    margin: 0 5px;
}
.width-10-px {
    width: 10px;
}
.text-right {
    text-align: right;
}

.show-grid {
    margin-bottom: 15px;
    margin-top: 5px;
}

.remove:hover {
    cursor: pointer;
}

#productsearch-status {
    width: 100%;
}

.field-productsearch-status {
    width: 100%;
}

.product-image {
    width: 100px;
}