/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*	Settings
*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*	Mixins
*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*	Base container
*/
.intimidatetime {
    position: absolute;
    z-index: 9999;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-size: 12pxpx;
    font-size: 0.75pxrem;
    line-height: 18pxpx;
    line-height: 1.125pxrem;
    background-color: #ffffff;
    border: solid 2px #e4e4e4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0 0 8px #dddddd;
    -moz-box-shadow: 0 0 8px #dddddd;
    -ms-box-shadow: 0 0 8px #dddddd;
    -o-box-shadow: 0 0 8px #dddddd;
    box-shadow: 0 0 8px #dddddd;
}
.intimidatetime:after {
    clear: both;
}
.intimidatetime.intimidatetime-inline {
    position: static;
}
.intimidatetime .intimidatetime-unit-select {
    display: inline-block;
    padding-right: 5px;
}
.intimidatetime .intimidatetime-unit-select span {
    display: block;
}
.intimidatetime .intimidatetime-unit-list {
    display: block;
}
.intimidatetime .intimidatetime-unit-list .unit-list {
    list-style: none;
    max-width: 200px;
    margin: 0;
}
.intimidatetime .intimidatetime-unit-list .unit-list li {
    display: inline-block;
}
.intimidatetime .intimidatetime-unit-list .unit-list li a {
    display: inline-block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #eeeeee;
    color: #333333;
    text-decoration: none;
    padding: 6px 12px;
    margin: 0 4px 0 0;
}
.intimidatetime .intimidatetime-unit-list .unit-list li a.selected {
    background-color: #cccccc;
    color: #333333;
}
.intimidatetime .intimidatetime-unit-list .unit-list li a:hover,
.intimidatetime .intimidatetime-unit-list .unit-list li a:active {
    background-color: #dddddd;
    color: #333333;
}
.intimidatetime .intimidatetime-buttons {
    padding: 10px;
}
.intimidatetime .intimidatetime-buttons button {
    margin: 0 15px 0 0;
}
.intimidatetime .intimidatetime-buttons:before {
    clear: both;
}
.intimidatetime .intimidatetime-buttons:after {
    clear: both;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*	MODE: basic
*/
.intimidatetime-mode-basic {
    display: inline-block;
}
.intimidatetime-mode-basic .intimidatetime-range {
    display: inline-block;
    border-left: solid 1px #e4e4e4;
}
.intimidatetime-mode-basic .intimidatetime-range .intimidatetime-preview {
    text-align: center;
    padding: 10px 0;
}
.intimidatetime-mode-basic .intimidatetime-range .intimidatetime-group {
    padding: 5px 10px;
}